{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Custom site icon -->
<link rel="apple-touch-icon" href="{{ base_path }}/images/logo_zezheng.png"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/logo_zezheng.png"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
