---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign sorted_publications = site.publications | sort: 'order' %}
{% for post in sorted_publications %}
  <div class="publication-item">
    <div class="publication-title">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </div>
    <div class="publication-authors">{{ post.authors }}</div>
    <div class="publication-venue">{{ post.venue }}, {{ post.date | date: "%Y" }}</div>
    {% if post.excerpt %}
      <div class="publication-excerpt">{{ post.excerpt }}</div>
    {% endif %}
    {% if post.image %}
      <div class="publication-image">
        <img src="{{ base_path }}/images/papers/{{ post.image }}" alt="{{ post.title }}">
      </div>
      <hr class="publication-image-divider">
    {% endif %}
  </div>
{% endfor %}


