---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my papers on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
.wordwrap {
  margin-bottom: 2em;
}

.publication-item {
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.publication-title {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  line-height: 1.4;
}

.publication-title a {
  text-decoration: none;
}

.publication-title a:hover {
  text-decoration: underline;
}

.publication-authors {
  font-size: 0.95em;
  margin-bottom: 0.3em;
  color: var(--global-description-color);
}

.publication-venue {
  font-size: 0.95em;
  font-style: italic;
  margin-bottom: 1em;
  color: var(--global-description-color);
}

.publication-excerpt {
  font-size: 0.95em;
  line-height: 1.6;
  text-align: justify;
}

.publication-image {
  margin-top: 1em;
  text-align: center;
}

.publication-image img {
  width: 100%;
  max-width: 550px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.publication-image-divider {
  margin-top: 1.5em;
  border: none;
  border-top: 2px solid #555;
}
</style>

{% assign sorted_publications = site.publications | sort: 'order' %}
{% for post in sorted_publications %}
  <div class="publication-item">
    <div class="publication-title">
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" target="_blank">{{ post.title }}</a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}">{{ post.title }}</a>
      {% endif %}
    </div>
    <div class="publication-authors">{{ post.authors }}</div>
    <div class="publication-venue">{{ post.venue }}, {{ post.date | date: "%Y" }}</div>
    {% if post.excerpt %}
      <div class="publication-excerpt">{{ post.excerpt }}</div>
    {% endif %}
    {% if post.image %}
      <div class="publication-image">
        <img src="{{ base_path }}/images/papers/{{ post.image }}" alt="{{ post.title }}">
      </div>
      <hr class="publication-image-divider">
    {% endif %}
  </div>
{% endfor %}



