{% include base_path %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>

        <div class="greedy-nav__brand masthead__menu-item masthead__menu-item--lg">
          Hi, my friend :)
        </div>

        <div class="greedy-nav__center">
          <ul class="visible-links">
            {% for link in site.data.navigation.main %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <li class="masthead__menu-item {% if link.url == '/' %}{% if page.url == '/' or page.url == '/index.html' %}selected{% endif %}{% elsif page.url contains link.url %}selected{% endif %}">
                <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <ul class="hidden-links hidden"></ul>
        </div>

        <div id="theme-toggle" class="greedy-nav__theme-toggle masthead__menu-item">
          <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
        </div>
      </nav>
    </div>
  </div>
</div>
